body {
    background-image: url(images/diagmonds.png);
}
label {
    color: rgb(237,211,130);
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}
#title {
    color: rgb(237,211,130);
    font-family: 'Righteous', cursive;
}
#copyright {
    color: hsl(210,25,98);
    text-align: center;
}
#img {
    width: 13rem;
    float: right;
}
h3 {
    text-align: center;
    margin: 0 auto;
    display:block;
    font-weight: bold;
 }
 iframe {
   width: 60%;
   height:250px;
   display:block;
   margin: 0 auto;
 }

 .title-1{
    font-family: 'Germania One', cursive;
    font-family: 'Josefin Sans', sans-serif;
 }
  #zipCodeInput {
     width: 27rem;
  }

  .delete-button {
    color: green;
    background: black;
    margin: 0.6rem;
  }
 .searchingItems{
     color: black;
 }
 

 .logo {
     width: 10%;
 }
 

#dropdownMenuButton {
    margin-left: 10px;
    margin-top: 24px;
}

